.description{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
}
.elipse {
    margin: 20px;
    height: 600px;

}

body{
    background-color: #fef9f6;
}

.home-container{
    display: flex;
    justify-content: center
}