.description{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
}
.elipse {
    margin: 20px;
    height: 600px;

}

body{
    background-color: hwb(24 86% 10%);
    box-sizing: border-box;
}

.home-container{
    display: flex;
    justify-content: center
}

@media (max-width: 768px){
    .home-container{
        display: inline-block;
    }
}